@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

$font-stack: Poppins, sans-serif;

.root{
    background-color: #BFD1FF;
    font-family: $font-stack;
    font-size: 6rem;
    padding-top: 200px;
    text-align: center;
}

.titleContainer{
    line-height:100%;
    font-weight: bold;
    color: #1F3879;
}

.title{
    margin:0%;
}

.subtext{
    font-size: 1rem;
    margin-top: 20px;;
    line-height: 120%;
    background-color: rgb(235, 235, 235);
    border-radius: 2rem;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    transition-duration: 0.4s;
    font-family: $font-stack;
    background-color: white;
    color: #1F3879;
    border: none;
    border-radius: 1rem;
    font-size: 36px;
    margin: 5%;
    width: 90%;
    height: 55px;
}

.btn:hover{
    transform: translateY(-5px);
    box-shadow: 5px 10px;
    color:white;
    background-color: rgb(146, 211, 191);
}

#test{
    display: none;
}

input{
    height: 55px;
    width: 90%;
    margin: 5% auto;
    font-family: $font-stack;
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
}

.restaurantList{
  border: 4px solid #506697;
  background-color: #7998e0;
  border-radius: 1rem;
  padding: 40px 50px;
  overflow-y: scroll;
  height: 30vh;
  width: 430px;
  margin: 20px auto;
}

.restaurantList::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}
.restaurantList::-webkit-scrollbar-track {
  background: none;        /* color of the tracking area */
}
.restaurantList::-webkit-scrollbar-thumb {
  background-color: #29478d;    /* color of the scroll thumb */
  border-radius: 5rem;       /* roundness of the scroll thumb */
  height: 5px;
}

.submitButton{
  transition-duration: 0.4s;
  font-size: 26px;
  border-radius: 20px;
  border: 2px solid rgb(82, 136, 120);
  background-color: rgb(146, 211, 191);
  margin: 0 auto;
  width: 300px;
}

.submitButton:hover{
  transform: translateY(-5px);
  box-shadow: 5px 10px;
  color:white;
  background-color: rgb(90, 233, 190);
  cursor: pointer;

}